.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 0.8;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  align-items: center;
}

button {
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  height: 60px;
}

#clearButton,
#homeButton {
  margin-top: 20px;
  max-height: 40px;
  max-width: 300px;
  align-self: center;
}
