#homeNewButton {
  height: 90px;
}

#adtmcpic {
  max-width: 600px;
  margin-left: 60px;
  padding-right: 60px;
}

.homeContent {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

#homeNewButton {
  margin-top: 100px;
  height: 140px;
  font-size: x-large;
}

#aboutButton3 {
  max-height: 45px;
  margin-bottom: 60px;
  justify-self: center;
  font-size: larger;
}

#about h2,
h1 {
  color: green !important;
}

p {
  font-size: large;
}
